<footer class="footer">
  <div class="footer__container">
    <section class="sobre">
      <h2 class="footer__title">Sobre</h2>
      <p class="footer__about-text">
        O <span class="sobre-leo-watch-shop">Léo Watch Shop</span>, atualmente é apenas um sistema em desenvolvimento para fins de praticar o conhecimento em Angular de um curso de participei.
      </p>
      <p class="footer__about-text">
        Entretanto, pretendo no futuro tornar um sistema profissional que possa vender relógios importados de forma legal, pagando os tributos legalmente.
      </p>
      <p class="footer__about-text">
        Porém, hoje nenhum desses relógios estão a venda, seus valores e descrição são fictícios.
      </p>
      <p class="footer__about-text">
        Além disso, quero deixar claro que não tenho direito autorais de nenhuma das imagens do sistema.
      </p>
      <p class="footer__about-text">
        Portanto, tudo são apenas ilustrações, simulação de um sistema verdadeiro.
      </p>
    </section>
    <address>
      <h2 class="footer__title">Contato</h2>
      <ul>
        <li><i class="fa-solid fa-envelope"></i> email@gmail.com</li>
        <li><i class="fa-solid fa-phone"></i> (00) 0000-0000</li>
        <li><i class="fa-brands fa-whatsapp"></i> (00)0 0000-0000</li>
      </ul>
    </address>
  </div>
  <section class="footer__copyright">
    &copy; Todos os direitos reservados | Notlynoel Systems and Consulting
  </section>
</footer>
